/* Header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.3rem;
  padding: 0 1%;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  font-family: Verdana, sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;

  &__logo {
    margin: 0 auto;

    img {
      width: 20%;
      padding: 4rem;
    }
  }

  .header_list {
    width: 100%;
    align-items: center;
    width: 100%;
    list-style: none;
  }

  a {
    list-style: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-weight: 600;
    font-size: 0.8em;
    color: gray;
    cursor: pointer;
    &:hover {
      color: green;
      border-bottom-color: green;
      border-bottom-width: 2px;
    }
  }
}
